@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

/*
Badges
https://i.imgur.com/PSvPEPM.gif

Achievements
https://i.imgur.com/AOgj9Mv.png
https://i.imgur.com/O68jc3R.png
https://i.imgur.com/qBNTTU7.png
https://i.imgur.com/KNtNumn.png
https://i.imgur.com/4yzcyVP.png - Normal
https://i.imgur.com/K4q5pLd.png - Rookie
https://i.imgur.com/iFvjY3a.png - Expert

Example
#chat [data-cid^="3625731-"] i.bdg, #user-rollover.id-3625731 i.bdg, #chat .id-3625731 i.bdg {
    background: url('http://chilloutmusic.fm/img/theme/Icons/3292657.gif') !important;
    background-size: cover;
} */

/* BOT */
#chat [data-cid^="3625731-"].emote {
background-color: rgb(35, 32, 35) !important;
font-style: normal !important;
}
[data-cid^="3625731-"] span.un.clickable{
color: #FFFFFF  !important;
pointer-events: none !important;
}
#user-lists .list .user.id-3625731 .name:after,
.fromID-3625731 .from .un.clickable:after,
.cid-3625731 .from .un.clickable:after,
.id-3625731 .from .un.clickable:after,
#user-lists .list .user.id-3625731 .name:after,
.fromID-3625731 .from .un.clickable:after,
.cid-3625731 .from .un.clickable:after,
.id-3625731 .from .un.clickable:after {
    content: url("https://dl.dropboxusercontent.com/s/6n8jncgoufypt60/Bot.png");
    top: 3px;
    Left: 3px;
    position: relative;
}

/* Bato - icon */
/*#chat [data-cid^="3749559-"] i.bdg, #user-rollover.id-3749559 i.bdg, #chat .id-3749559 i.bdg {
    background: url('https://i.imgur.com/UAuhAFp.png') !important;
    background-size: cover;
}
 #user-lists .list .user.id-3749559 .name:before,
.fromID-3625731 .from .un.clickable:before,
.cid-3749559 .from .un.clickable:before,
.id-3749559 .from .un.clickable:before,
#user-lists .list .user.id-3749559 .name:before,
.fromID-3749559 .from .un.clickable:before,
.cid-3749559 .from .un.clickable:before,
.id-3749559 .from .un.clickable:before {
    font-family: Ionicons;
    content: "\f4b3";
    top: 0px;
    right: 3px;
    position: relative;
    font-size:15px;
}
#user-rollover.id-3749559 .showID:after {
    font-family: Ionicons;
    background-repeat: no-repeat;
    content: "Newbie \f4b3";
    display: inline-block;
    color: #00BB95!important;
    font-weight: bold;
    margin: 0px 0px 0 14px!important;
    padding-left: 19px;
    font-size:15px;
}*/

/* Ajdin */
 #user-lists .list .user.id-4308733 .name:before,
.fromID-3625731 .from .un.clickable:before,
.cid-4308733 .from .un.clickable:before,
.id-4308733 .from .un.clickable:before,
#user-lists .list .user.id-4308733 .name:before,
.fromID-4308733 .from .un.clickable:before,
.cid-4308733 .from .un.clickable:before,
.id-4308733 .from .un.clickable:before {
    font-family: Ionicons;
    content: "\f3e6";
    top: 0px;
    right: 3px;
    position: relative;
    font-size:15px;
    color: #ac76ff;
}
#user-rollover.id-3625731 .showID:after {
    font-family: Ionicons;
    background-repeat: no-repeat;
    content: "SuperU \f3e6";
    display: inline-block;
    color: #00BB95!important;
    font-weight: bold;
    margin: 0px 0px 0 14px!important;
    padding-left: 19px;
    font-size:15px;
}

/* Linking Park */
 #user-lists .list .user.id-31393335 .name:before,
.fromID-31393335 .from .un.clickable:before,
.cid-31393335 .from .un.clickable:before,
.id-31393335 .from .un.clickable:before,
#user-lists .list .user.id-31393335 .name:before,
.fromID-31393335 .from .un.clickable:before,
.cid-31393335 .from .un.clickable:before,
.id-31393335 .from .un.clickable:before {
   font-family: Ionicons;
    content: "\f4b3";
    top: 0px;
    right: 3px;
    position: relative;
    font-size:15px;
    color: #ac76ff;
}
#user-rollover.id-31393335 .showID:after {
    font-family: Ionicons;
    background-repeat: no-repeat;
    content: "Newbie \f4b3";
    display: inline-block;
    color: #00BB95!important;
    font-weight: bold;
    margin: 0px 0px 0 14px!important;
    padding-left: 19px;
    font-size:15px;
}

/* Bosanka */
 #user-lists .list .user.id-3218570 .name:before,
.fromID-3218570 .from .un.clickable:before,
.cid-3218570 .from .un.clickable:before,
.id-3218570 .from .un.clickable:before,
#user-lists .list .user.id-3218570 .name:before,
.fromID-3218570 .from .un.clickable:before,
.cid-3218570 .from .un.clickable:before,
.id-3218570 .from .un.clickable:before {
    font-family: Ionicons;
    content: "\f4b3";
    top: 0px;
    right: 3px;
    position: relative;
    font-size:15px;
    color: #F7FE2E;
}
#user-rollover.id-3218570 .showID:after {
    font-family: Ionicons;
    background-repeat: no-repeat;
    content: "Newbie \f4b3";
    display: inline-block;
    color: #00BB95!important;
    font-weight: bold;
    margin: 0px 0px 0 14px!important;
    padding-left: 19px;
    font-size:15px;
}
/* Nummer01 */
#chat [data-cid^="4701150-"] i.bdg, #user-rollover.id-4701150 i.bdg, #chat .id-4701150 i.bdg {
    background: url('https://i.imgur.com/bXyJmaB.png') !important;
    background-size: cover;
}

/* Little Donut */
 #user-lists .list .user.id-28843959 .name:before,
.fromID-28843959 .from .un.clickable:before,
.cid-28843959 .from .un.clickable:before,
.id-28843959 .from .un.clickable:before,
#user-lists .list .user.id-28843959 .name:before,
.fromID-28843959 .from .un.clickable:before,
.cid-28843959 .from .un.clickable:before,
.id-28843959 .from .un.clickable:before {
   font-family: Ionicons;
    content: "\f4b3";
    top: 0px;
    right: 3px;
    position: relative;
    font-size:15px;
    color: #ac76ff;
}
#user-rollover.id-28843959 .showID:after {
    font-family: Ionicons;
    background-repeat: no-repeat;
    content: "Newbie \f4b3";
    display: inline-block;
    color: #00BB95!important;
    font-weight: bold;
    margin: 0px 0px 0 14px!important;
    padding-left: 19px;
    font-size:15px;
}

/* Ana */
 #user-lists .list .user.id-4503763 .name:before,
.fromID-4503763 .from .un.clickable:before,
.cid-4503763 .from .un.clickable:before,
.id-4503763 .from .un.clickable:before,
#user-lists .list .user.id-4503763 .name:before,
.fromID-4503763 .from .un.clickable:before,
.cid-4503763 .from .un.clickable:before,
.id-4503763 .from .un.clickable:before {
   font-family: Ionicons;
    content: "\f4b3";
    top: 0px;
    right: 3px;
    position: relative;
    font-size:15px;
    color: #ac76ff;
}
#user-rollover.id-4503763 .showID:after {
    font-family: Ionicons;
    background-repeat: no-repeat;
    content: "Newbie \f4b3";
    display: inline-block;
    color: #00BB95!important;
    font-weight: bold;
    margin: 0px 0px 0 14px!important;
    padding-left: 19px;
    font-size:15px;
}

/* Techno Panda */
 #user-lists .list .user.id-5215987 .name:before,
.fromID-5215987 .from .un.clickable:before,
.cid-5215987 .from .un.clickable:before,
.id-5215987 .from .un.clickable:before,
#user-lists .list .user.id-5215987 .name:before,
.fromID-5215987 .from .un.clickable:before,
.cid-5215987 .from .un.clickable:before,
.id-5215987 .from .un.clickable:before {
   font-family: Ionicons;
    content: "\f4b3";
    top: 0px;
    right: 3px;
    position: relative;
    font-size:15px;
    color: #ac76ff;
}
#user-rollover.id-5215987 .showID:after {
    font-family: Ionicons;
    background-repeat: no-repeat;
    content: "Newbie \f4b3";
    display: inline-block;
    color: #00BB95!important;
    font-weight: bold;
    margin: 0px 0px 0 14px!important;
    padding-left: 19px;
    font-size:15px;
}
